@mixin rounded($radius : 5px ) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
 
@mixin border($size: 1px, $type: solid, $color: $red) {
	border: $size $type $color;
}

@mixin fontname($type) {
	@if $type == bold {
		font-family: name;
	} @else {
		 font-family: name;
	}
}

@mixin testdiv($height : 50px, $color : #eee, $line-height: 2.4em) {
	height: $height;
	background-color: $color;
	border-radius: 5px;
	border:1px solid #ccc;
	line-height:$line-height;
	font-size:19px; 
	font-weight:bold;
	color:#666;
	text-align:center;
	width:100%;
}

@mixin twoCol($value) {
	@if $value == "leftLarger" {
		.left {
			@include make-sm-column(9);
		}
		.right {
			@include make-sm-column(3);
		}	
	} @else if $value == "rightLarger" {
		.left {
			@include make-sm-column(3);
		}
		.right {
			@include make-sm-column(9);
		}
	} @else {
		.left {
			@include make-sm-column(6);
		}
		.right {
			@include make-sm-column(6);
		}
	}
}